<% if cookies.signed[:admin] %>
  <h2><%= @notice %></h2>
  <% form_for :logininfo, :url => {:action => "updatePass"} do |f| %>
    <%= f.label "Username" %><br /><%= f.text_field :username %><br />
    <%= f.label "Password" %><br /><%= f.password_field :password %><br />
    <%= f.submit "Submit" %>
  <% end %>
<% end %>
