<h2>New Suggestion</h2>
<%= form_for :user_suggestion, :url => {:action => "create"} do |f| %>
  <%= f.label "Enter your suggestion" %><br />
  <%= f.text_field :suggestion %>
  <%= f.hidden_field :id, :value => cookies.signed[:user_id] %>
  <%= f.submit "Submit" %>
<% end %>
